<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

{{#each users}}
    <div>
<!--        <div>index:{{@index}}</div>-->
        <div>index:{{this.id}}</div>
        <div>firstName:{{this.firstName}}</div>
        <div>lastName:{{this.lastName}}</div>
        <div>email:{{this.email}}</div>
        <div>password:{{this.password}}</div>
        <div>age:{{this.age}}</div>
        <div>city:{{this.city}}</div>
<!--        <a href="/users/{{@index}}">INFO</a>-->
        <a href='/users/{{this.id}}'>INFO</a>
        <hr>
    </div>
{{/each}}
</body>
</html>