<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
INFO PAGE
    <div>
        <div>firstName:{{user.firstName}}</div>
        <div>lastName:{{user.lastName}}</div>
        <div>email:{{user.email}}</div>
        <div>password:{{user.password}}</div>
        <div>age:{{user.age}}</div>
        <div>city:{{user.city}}</div>
<!--        <a href="/delete" methods="post">DELETE</a>-->
<!--        <a rel="nofollow" data-method="delete" href="/users/:userId">DELETE</a>-->
    </div>
</body>
</html>